﻿
<script>
    function Startup() {
        window.location.replace("@Url.Content("~/Acceso/Startup")");
    }
    function Guardar() {
        alert("Guardar");
    }
</script>

<div class="row">
    <div class="col col-md-12 col-sm-12 col-lg-12 text-right">
        <button class="btn btn-sm btn-success" onclick="Guardar()" style="background-color: rgba(0,0,0,0.2) !important; color:azure">
            Guardar
        </button>
        <button class="btn btn-sm btn-warning" onclick="Startup()" style="background-color: rgba(0,0,0,0.2) !important; color:azure">
            Regresar
        </button>
    </div>
</div>
<div style="background-color: rgba(0,0,0,0.2) !important; width:30%;margin: 10% 35%">
    Este es el Alta del ticket
</div>
