﻿
.input-border {
    -webkit-box-shadow: 0 0 0 .2px #eceeef;
    box-shadow: 0 0 0 .2px #eceeef
}
.fondo-transparent {
    background-color: rgba(0,0,0,0.2) !important;
    color: azure;
}
.fondo {
    background: #43C6AC; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #191654, #43C6AC); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #191654, #43C6AC);
    color: azure
}
